.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 85vh;
    margin-top: 4rem;
    padding-top: 3rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex:1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

.input-group{
    float: left;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.error label {
    color: #cc0033;
}
  
.error input[type="text"],
.error input[type="email"],
.error textarea {
    background-color: #fce4e4;
    border: 1px solid #cc0033!important;
}

.error-message{
    color: #cc0033;
    font-size: 16px;
    margin-top: 5px;
}

.success {
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../../img/green-tick.svg');
}

.hidden{
    display: none;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 2rem;
        height: 50rem;
    }

    .input-group{
        width: 320px;
    }

    .c-right .user{
        width: 16rem;
    }

    
}